:root {
  --main-color: #f9f7ff;
  --column-color: #ffffff;
  --task-color: #e6ffe0;
  --task-outline-color: #6f9f6a;
  --button-color: #ecd0ff;
  --button-hover-color: #c084fc;  
  --outline-color: #8f02ee;
  --border-radius: 5px;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  --title-color: #8d45d5;
  --grey-text-color: #2a2a2a;
  --light-grey-color: #b1b1b1;
  --error-color: #ff4d4d;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: var(--main-color);
}

.kanban-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.add-col-form{
  align-self: flex-start;
  margin: 10px 0;
}

#add-col-in {
padding: 10px;
border-radius: var(--border-radius);
border-style: none;
border: 1px solid var(--outline-color);
}

#add-col-in:focus {
  outline: none;
  box-shadow: 0 0 2px var(--outline-color);
}

#add-col-btn{
  background-color: var(--button-color);
  padding: 10px;
  border-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
}

#add-col-btn:hover{
  background-color: var(--button-hover-color);
  color: white;
}

.column-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 90vw;
  height: 80vh;
  padding: 20px;
  overflow-x: auto; 
  border-radius:var(--border-radius);
  background:var(--kanbar-color);
  box-shadow: var(--box-shadow);
}

.column{
  background-color: var(--column-color);
  box-shadow: var(--box-shadow);
  margin: 20px;
  border-radius: var(--border-radius);
  overflow-y: auto;
  width: 300px;
  flex-shrink: 0;
}

/*  COLUMN HEADER  */

.column .column-header {
  display: flex;
  flex-direction: column;
}

.column .column-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--title-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.column .change-title{
  display: flex;
  gap: 5px;
}

.column h1{
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-color);
}

.column .title-btn{
  background-color: var(--title-color);
  border-style: none;
  cursor: pointer;
}

.column .title-btn:hover{
  transform: scale(1.15);
}

input.edit-col-title {
  font-size: 2rem;
  border-style: none;
  background-color: var(--title-color);
  color: var(--main-color);
  width: 80%;
  border-bottom: 1px solid var(--main-color);
}

input.edit-col-title:focus {
  outline: none;
}

/*  ADD TASK FORM  */

.column form{
  padding: 10px;
}

.column form > * {
  margin: 5px;
}

.column form input{
  padding: 5px;
  border-radius: var(--border-radius);
  border-style: none;
  border: 1px solid var(--outline-color);
}

.column form input:focus {
  outline: none;
  box-shadow: 0 0 2px var(--outline-color);
}

.column form button{
  background-color: var(--button-color);
  padding: 7px;
  border-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
}

.column form button:hover{
  background-color: var(--button-hover-color);
  color: white;
}

.column.over {
    background-color: var(--main-color);
      outline: 2px dashed #339af0;
}


/*  TASKS  */

.task{
  background-color: var(--task-color);
  color: var(--grey-text-color);
  border: 1px solid var(--task-outline-color);  ;
  margin-top: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: var(--box-shadow);
  cursor: grab;
}

.task > * {
  margin: 5px 0;
} 

.plus-btn {
  padding: 5px;
  border-bottom-right-radius: var(--border-radius);
  border-style: none;
  cursor: pointer;
}

.task .topTaskDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--task-outline-color);
  padding-bottom: 10px;
}

.task .topTaskDiv h2 {
  font-size: 1.2rem;
}

.task .topTaskDiv input {
  font-size: 1.2rem;
  border-style: none;
  background-color: transparent;
  width: 80%;
  border-bottom: 1px solid var(--light-grey-color);
}

.task .topTaskDiv input:focus {
  outline: none;
}

.task p {
  white-space: pre-wrap;
  padding: 10px 0 20px;
}

.task textarea {
  width: 90%;
  padding: 5px;
  background-color: transparent;
  font-size: 1rem;
  border-style: none;
  border-bottom: 1px solid var(--light-grey-color);
}

.task textarea:focus {
  outline: none;
}

.task button {
  background-color: var(--task-color);
  border-style: none;
  cursor: pointer;
} 

.task button:hover{
  transform: scale(1.15);
}

.task .delete-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.task:active {
    cursor: grabbing;
    transform: scale(1.03);
}

/* ERROR MESSAGE */
.error {
  color: var(--error-color);
  font-size: 0.8rem;
  margin-top: 5px;
}
